In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

**1. Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv**

**2. Find all of the categorical data. Save it in a categorical_df variable.**

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [3]:
customer_df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [4]:
#Define a function that will rename columns to PE8 style

def rename_columns(df):
    df2 = df.copy()#making a copy just to be safe
    df2.columns = df.columns.str.replace(" ", "_")
    df2 = df2.rename(columns=str.lower)
    return df2

In [5]:
customer_df = rename_columns(customer_df)
customer_df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
#change the column effective_to_date to daetime format
customer_df['effective_to_date'] =  pd.to_datetime(customer_df['effective_to_date'])

In [7]:
#This function seperates the continuous and discrete variables
def count_disc_splitter(df):
    continuous_list = []
    discrete_list = []
    for col in df:
        if df[col].nunique() > 100 and df[col].dtypes != 'O':#with this condition of != 'O', I am getting rid of customer column
            continuous_list.append(col)
            continuous = df[continuous_list]
        elif df[col].nunique() <= 100:
            discrete_list.append(col)
            discrete = df[discrete_list]
        else:
            pass
    return continuous, discrete

In [8]:
continuous , categorical_df = count_disc_splitter(customer_df)

In [10]:
categorical_df

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

**3.Check for NaN values.**

In [11]:
categorical_df.isna().sum()

state                            0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
location_code                    0
marital_status                   0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [12]:
categorical_df.isnull().sum()

state                            0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
location_code                    0
marital_status                   0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
vehicle_class                    0
vehicle_size                     0
dtype: int64

There are no null values!

**4.Check all unique values of columns.**

In [13]:
print(categorical_df.apply(lambda col: col.unique()))

state                            [Washington, Arizona, Nevada, California, Oregon]
response                                                                 [No, Yes]
coverage                                                [Basic, Extended, Premium]
education                        [Bachelor, College, Master, High School or Bel...
effective_to_date                [2011-02-24T00:00:00.000000000, 2011-01-31T00:...
employmentstatus                 [Employed, Unemployed, Medical Leave, Disabled...
gender                                                                      [F, M]
location_code                                             [Suburban, Rural, Urban]
marital_status                                         [Married, Single, Divorced]
months_since_last_claim          [32, 13, 18, 12, 14, 0, 17, 23, 27, 9, 21, 11,...
months_since_policy_inception    [5, 42, 38, 65, 44, 94, 13, 68, 3, 7, 87, 82, ...
number_of_open_complaints                                       [0, 2, 1, 3, 5, 4]
number_of_policies                                     [1, 8, 2, 7, 9, 4, 3, 6, 5]
policy_type                          [Corporate Auto, Personal Auto, Special Auto]
policy                           [Corporate L3, Personal L3, Corporate L2, Pers...
renew_offer_type                                  [Offer1, Offer3, Offer2, Offer4]
sales_channel                                    [Agent, Call Center, Web, Branch]
vehicle_class                    [Two-Door Car, Four-Door Car, SUV, Luxury SUV,...
vehicle_size                                               [Medsize, Small, Large]
dtype: object

In [14]:
print(categorical_df.apply(lambda col: col.nunique()))

state                              5
response                           2
coverage                           3
education                          5
effective_to_date                 59
employmentstatus                   5
gender                             2
location_code                      3
marital_status                     3
months_since_last_claim           36
months_since_policy_inception    100
number_of_open_complaints          6
number_of_policies                 9
policy_type                        3
policy                             9
renew_offer_type                   4
sales_channel                      4
vehicle_class                      6
vehicle_size                       3
dtype: int64

**5.Check dtypes. Do they all make sense as categorical data?**

In [15]:
categorical_df.dtypes

state                                    object
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
location_code                            object
marital_status                           object
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
vehicle_class                            object
vehicle_size                             object
dtype: object

To me they all make sense as categorical data!

**6.Does any column contain alpha and numeric data? Decide how to clean it.**

I think the following values **[Offer1, Offer3, Offer2, Offer4]** in the **renew_offer_type** column are alphanumeric data. Maybe one possible way to clean it is by making them just numbers. For Offer1: 1, offer2: 2......and so. This will make label encoding much easier, as this has an order and now  is categorical ordinal.

In [16]:

categorical_df['renew_offer_type'].value_counts()

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

In [17]:
#replacing renew_offer_type values with numeric values as it will be easier for encoding later on
categorical_df["renew_offer_type"].replace({"Offer1": 1, "Offer2": 2, "Offer3": 3, "Offer4": 4}, inplace=True)

C:\Users\ALP\Anaconda3\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [18]:
categorical_df['renew_offer_type'].value_counts()

1    3752
2    2926
3    1432
4    1024
Name: renew_offer_type, dtype: int64

**7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.**

Most likely I would group some values together in categorical nominal data. As we apply onehotencoding to this, it will reduce the number of columns we have, if we group certain values together. 

- JustFor example the column state could be grouped into East coast and West coast. Or from seeing the value counts, maybe the states of Arizona, Nevada and Washington can be grouped togeter as they are quite low in counts compared to California and Oregon.

- Another example is thtat employmentstatus could be Employed, Unemployed or other.

In [20]:
categorical_df['state'].value_counts()

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

In [21]:
categorical_df['employmentstatus'].value_counts()

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

**8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?**

In [22]:
categorical_df['policy_type'].value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

In [23]:
categorical_df['policy'].value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

They share similar information, the only difference is that policy is more specific, and policy_type is a bit more generalised. In my opinion havin the policy type is more important, as it will give us three clear groups, compared to multiple subgroups in policy column. I would drop the policy column and go for the policy type column. As it makes encoding much easier!

**9.Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.**

In [27]:
for col in categorical_df:
    print(categorical_df[col].value_counts())

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64
No     7826
Yes    1308
Name: response, dtype: int64
Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64
2011-01-10    195
2011-01-27    194
2011-02-14    186
2011-01-26    181
2011-01-17    180
2011-01-19    179
2011-01-31    178
2011-01-03    178
2011-01-20    173
2011-02-26    169
2011-01-28    169
2011-02-19    168
2011-01-05    167
2011-02-27    167
2011-01-11    166
2011-02-04    164
2011-02-10    161
2011-02-28    161
2011-01-02    160
2011-01-21    160
2011-01-29    160
2011-02-22    158
2011-02-05    158
2011-02-03    158
2011-02-07    157
2011-02-12    156
2011-01-23    155
2011-02-01    154
2011-01-18    154
2011-01-15    153
2011-01-14    152
2011-02-11    151
2011-01-07    151
2011-01-25    151
2011-02-25    149
2011-01-08    149
2011-02-18    149
2011-02-02    149
2011-01-01    148
2011-02-21    148
2011-01-24    147
2011-01-09    146
2011-01-30    145
2011-01-13    145
2011-02-06    144
2011-01-06    143
2011-02-23    143
2011-01-16    142
2011-02-16    139
2011-02-13    139
2011-02-24    139
2011-02-09    137
2011-02-17    136
2011-01-22    136
2011-02-08    134
2011-02-20    132
2011-02-15    130
2011-01-12    126
2011-01-04    115
Name: effective_to_date, dtype: int64
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64
F    4658
M    4476
Name: gender, dtype: int64
Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64
Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64
3     381
6     364
1     345
4     335
7     333
2     329
0     314
5     313
10    306
11    297
16    295
15    286
13    285
8     279
12    273
14    268
17    263
9     250
19    246
23    239
25    236
21    233
20    231
18    229
22    218
24    211
29    206
28    201
31    190
26    186
30    182
27    182
33    179
34    169
35    142
32    138
Name: months_since_last_claim, dtype: int64
59    142
61    128
50    125
44    115
3     114
     ...
16     70
96     67
82     56
98     54
97     52
Name: months_since_policy_inception, Length: 100, dtype: int64
0    7252
1    1011
2     374
3     292
4     149
5      56
Name: number_of_open_complaints, dtype: int64
1    3251
2    2294
3    1168
7     433
9     416
4     409
5     407
8     384
6     372
Name: number_of_policies, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64
1    3752
2    2926
3    1432
4    1024
Name: renew_offer_type, dtype: int64
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64
Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [47]:
2317+432+405+282

3436

In [34]:
#Which column values would I combine:
#State, education, employmentstatus, number_of_open_complaints, number_of_policies, renew offer type, sales_channel, 
#vehicle_class, months_since_last_claim, months_since_policy_inception

In [35]:
# State
# Grouped the smaller states together as other, this makes it more equal amongs the different states
categorical_df['state'] = list(map(lambda x: 'Other' if x in ['Arizona', 'Nevada', 'Washington'] else x, categorical_df['state']))
categorical_df['state'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Other         3383
California    3150
Oregon        2601
Name: state, dtype: int64

In [42]:
#education
#I grouped Bachelor, Master and Doctor into one called university degree (as the amount of Masters and Doctors were small)
categorical_df['education'] = list(map(lambda x: 'University Degree' if x in ['Bachelor', 'Master', 'Doctor'] else x, categorical_df['education']))
categorical_df['education'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

University Degree       3831
College                 2681
High School or Below    2622
Name: education, dtype: int64

In [46]:
#employmentstatus
#As employed is signicficantly higher, I will group all other values as other
categorical_df['employmentstatus'] = list(map(lambda x: 'Other' if x in ['Unemployed', 'Medical Leave', 'Disabled', 'Retired'] else x, categorical_df['employmentstatus']))
categorical_df['employmentstatus'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Employed    5698
Other       3436
Name: employmentstatus, dtype: int64

In [51]:
#Number of open complaints, 
#as Zero is significanly higher, I will group all the others together. THis may still not 
#help to deal with the class imbalcanc, but it doesnt make sense to do it any other way
categorical_df['number_of_open_complaints'] = list(map(lambda x: 'At least 1' if x in [1,2,3,4,5] else x, categorical_df['number_of_open_complaints']))
categorical_df['number_of_open_complaints'] = list(map(lambda x: 'None' if x in [0] else x, categorical_df['number_of_open_complaints']))
categorical_df['number_of_open_complaints'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

None          7252
At least 1    1882
Name: number_of_open_complaints, dtype: int64

In [57]:
#number_of_policies
#I will group 3 or more policies together, and then go from there
categorical_df['number_of_policies'] = list(map(lambda x: '3 or more' if x in [3,4,5,6,7,8,9] else x, categorical_df['number_of_policies']))
categorical_df['number_of_policies'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

3 or more    3589
1            3251
2            2294
Name: number_of_policies, dtype: int64

In [59]:
#renew offer type
# I have grouped 3 and 4 together as other
categorical_df['renew_offer_type'] = list(map(lambda x: 'other' if x in [3,4] else x, categorical_df['renew_offer_type']))
categorical_df['renew_offer_type'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

1        3752
2        2926
other    2456
Name: renew_offer_type, dtype: int64

In [61]:
#sales_channel
#Here it makes more sense to group call center and Web together and call it other media, as they are small in count
categorical_df['sales_channel'] = list(map(lambda x: 'Other Media' if x in ['Call Center','Web'] else x, categorical_df['sales_channel']))
categorical_df['sales_channel'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Agent          3477
Other Media    3090
Branch         2567
Name: sales_channel, dtype: int64

In [67]:
# vehicle_class
#As 4 door car is significantly higher in count, perhaps it makes sense to group all the others together as other to make it comparable
#categorical_df['sales_channel'].value_counts()
#categorical_df['vehicle_class'] = list(map(lambda x: 'Other Media' if x in ['Call Center','Web'] else x, categorical_df['vehicle_class']))
categorical_df['vehicle_class'] = list(map(lambda x: 'Other' if x in ['Two-Door Car','SUV', 'Sports Car','Luxury SUV','Luxury Car'] else x, categorical_df['vehicle_class']))
categorical_df['vehicle_class'].value_counts()

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Four-Door Car    4621
Other            4513
Name: vehicle_class, dtype: int64

In [68]:
#months_since_policy_inception
#There are wayyy to many different classes in this column. So have to reduce them to 4 peraps. Maybe for this we can use qcut

categorical_df['months_since_policy_inception'].value_counts()

59    142
61    128
50    125
44    115
3     114
     ...
16     70
96     67
82     56
98     54
97     52
Name: months_since_policy_inception, Length: 100, dtype: int64

In [72]:
months_labels = ['Low', 'Moderate', 'High']
categorical_df['months_since_policy_inception_new'] = pd.qcut(categorical_df['months_since_policy_inception'],3,labels=months_labels)
categorical_df[['months_since_policy_inception','months_since_policy_inception_new']].head(10)

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   months_since_policy_inception months_since_policy_inception_new
0                              5                               Low
1                             42                          Moderate
2                             38                          Moderate
3                             65                              High
4                             44                          Moderate
5                             94                              High
6                             13                               Low
7                             68                              High
8                              3                               Low
9                              7                               Low

In [73]:
categorical_df['months_since_policy_inception_new'].value_counts()

Low         3075
Moderate    3060
High        2999
Name: months_since_policy_inception_new, dtype: int64

In [75]:
#months_since_last_claim
#We will do the same with months_since_last_claim as there are also way too many classes!
categorical_df['months_since_last_claim'].value_counts()
categorical_df['months_since_last_claim_new'] = pd.qcut(categorical_df['months_since_last_claim'],3,labels=months_labels)
categorical_df[['months_since_last_claim','months_since_last_claim_new']].head(10)

C:\Users\ALP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   months_since_last_claim months_since_last_claim_new
0                       32                        High
1                       13                    Moderate
2                       18                    Moderate
3                       18                    Moderate
4                       12                    Moderate
5                       14                    Moderate
6                        0                         Low
7                        0                         Low
8                       13                    Moderate
9                       17                    Moderate

In [76]:
categorical_df['months_since_last_claim_new'].value_counts()

Low         3243
Moderate    2979
High        2912
Name: months_since_last_claim_new, dtype: int64